<p>rooms {{ title }}</p>
<div [innerText]="numberOfRooms"></div>

<!-- Using Directives -->
<!-- *ngIf -->

<!-- we can directly style using ngStyle -->
<p [ngStyle]="{'color': rooms.isRoomHidden ? 'red' : 'green' }" *ngIf="rooms.isRoomHidden === true">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
  dignissimos.
</p>

<table>
  <tr>
    <th>Even Odd</th>
    <th>Room Number</th>
    <th>Room Description</th>
    <th>Room Price</th>
    <th>Room Type</th>
  </tr>
  <!-- using directives ng class , ngFor -->
  <tr
    [ngClass]="e ? 'ngEven' : 'ngOdd'"
    *ngFor="let roomDetail of roomDetails; let e = even; let o = odd"
  >
    <td>{{ e ? "Even" : "Odd" }}</td>
    <td>{{ roomDetail.roomNumber }}</td>
    <td>{{ roomDetail.roomDescription }}</td>
    <td>{{ roomDetail.roomType }}</td>
    <td>{{ roomDetail.roomPrice }}</td>
  </tr>
</table>
