<p>rooms {{ title }}</p>
<div [innerText]="numberOfRooms"></div>

<!-- Using Directives -->
<!-- *ngIf -->

<!-- we can directly style using ngStyle -->
<p [ngStyle]="{'color': rooms.isRoomHidden ? 'red' : 'green' }" *ngIf="rooms.isRoomHidden === true">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
  dignissimos.
</p>

<table>
  <tr>
    <th>Even Odd</th>
    <th>Room Number</th>
    <th>Room Description</th>
    <th>Room Price</th>
    <th>Room Type</th>
  </tr>
  <!-- using directives ng class , ngFor -->
   <!-- We can use slice to decide how much records of an array or object we can use -->
  <tr
    [ngClass]="e ? 'ngEven' : 'ngOdd'"
    
    *ngFor="let roomDetail of roomDetails | slice : 0:1; let e = even; let o = odd"
  >
  <!-- using pipes -->
   <!-- we can use json pipe for debugging the json -->
    <td>{{ e ? "Even" : "Odd" }}</td>
    <td>{{ roomDetail.roomNumber | percent  }}</td>
    <td>{{ roomDetail.roomDescription }}</td>
    <td>{{ roomDetail.roomType | lowercase  }}</td>
    <td>{{ roomDetail.roomPrice | currency : 'INR' }}</td>
  </tr>
</table>
