<p>rooms {{ title }}</p>
<div [innerText]="numberOfRooms"></div>

<!-- Using Directives -->
<!-- *ngIf -->

<!-- we can directly style using ngStyle -->
<p [ngStyle]="{'color': rooms.isRoomHidden ? 'red' : 'green' }" *ngIf="rooms.isRoomHidden === true">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
  dignissimos.
</p>


<!-- <p [hidden]="isToggled">login works!</p> -->
<accordion>
  <accordion-group heading="Static Header">
    This content is straight in the template.
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
  <accordion-group heading="Another group">
    <p>Some content</p>
  </accordion-group>
</accordion>
<button type="button" class="btn btn-primary"
tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
Simple demo
</button>

<!-- sending data to child -->
<div>
<!-- src/app/rooms/rooms.component.html -->
<!-- src/app/rooms/rooms.component.html -->
<app-room-list
  [roomList]="roomDetails"
  [numberOfRooms]="numberOfRooms"
  (selectedRoom)="handleRoomSelection($event)">
</app-room-list>
